/* Style for the title label */
.label-title {
    -fx-font-weight: bold;
}
/* Style for the login button */
.button-login {
    -fx-background-color: linear-gradient(to bottom,  #252222, #433f3c);
}

.button-login:hover {
    -fx-background-color: linear-gradient(to bottom, #f3c594, #9fb3ea);
}
.product{

    -fx-background-color: #f2f2f2; /* Background color for the product section */
    -fx-border-radius: 10px; /* Adjust the value to control the amount of rounding */
    -fx-background-radius: 10px; /* Adjust the value to round the background as well */
    -fx-padding: 10px; /* Add padding for spacing inside the product section */
    
}